# Chiave segreta per la firma dei token JWT (cambiare in produzione)
SECRET_KEY=unachiavesegretapossibilmentelunga
ALGORITHM=HS256
# Durata del token in minuti (cambiare in produzione)
ACCESS_TOKEN_EXPIRE_MINUTES=480

# DB MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=prenotazione_aule
DB_USER=dev
DB_PASSWORD=dbICE2026!