/* Colori */
:root {
    /* Colori base */
    --bs-success-light: #03c785;
    --bs-warning: rgb(252, 129, 9);
    --bs-orange: rgb(252, 129, 9);
    --bs-primary: #0066CC; /* BLU: #0066CC;  ICE: #000000*/
    --bs-primary-accent: #0066CC; /* BLU: #0066CC;  ICE: #e5313e */
    --bs-blue: var(--bs-primary);
    
    /* Varianti del primary */
    --bs-primary-dark: color-mix(in srgb, var(--bs-primary) 85%, black);
    --bs-primary-darker: color-mix(in srgb, var(--bs-primary) 70%, black);
    --bs-primary-transparent: color-mix(in srgb, var(--bs-primary) 90%, transparent);
    --bs-primary-light: color-mix(in srgb, var(--bs-primary) 30%, transparent);
    
    /* Link colors */
    --bs-link-color: var(--bs-primary);
    --bs-link-hover-color: var(--bs-primary-hover);
}

.btn-sidebar:hover{
    background-color: #fff;
    border: 2px solid #fff;
}
.btn-sidebar:hover .icon{
    fill: var(--bs-primary) !important;
}
.btn-sidebar:active {
    border-color: #fff;
}

.width-fit-content{
    max-width: fit-content;
}

/* Fix colori ICE */
/* .custom-bg{
    background-color: #ffffff !important;
}
.filter-logo {
    filter: none !important;
}
.nav-link > .icon{
    fill: var(--bs-primary-accent) !important;
} 
    
.btn-sidebar:hover{
    background-color: var(--bs-primary-accent) !important;
    border: 2px solid var(--bs-primary-accent) !important;
}
.btn-sidebar:hover .icon{
    fill: #fff !important;
}
.btn-sidebar:active {
    border-color: var(--bs-primary-accent) !important;
}
*/


.text-primary {
    color: var(--bs-primary) !important;
}

.nav-link:hover, .nav-link:focus {
    color: var(--bs-primary);
}

/* Navbar */
.navbar .nav-link,
.nav-link {
    --bs-nav-link-color: var(--bs-primary);
    --bs-nav-link-hover-color: var(--bs-primary-hover);
}

/* Bottoni primari */
.btn-primary {
    --bs-btn-bg: var(--bs-primary-accent);
    --bs-btn-border-color: var(--bs-primary-accent);
    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: var(--bs-primary-active);
    --bs-btn-active-border-color: var(--bs-primary-active);
    --bs-btn-disabled-bg: var(--bs-primary-disabled);
    --bs-btn-disabled-border-color: var(--bs-primary-disabled);
}

/* Bottoni outline-primary */
.btn-outline-primary {
    --bs-btn-color: var(--bs-primary-accent);
    --bs-btn-border-color: var(--bs-primary-accent);
    --bs-btn-hover-bg: transparent !important;
    --bs-btn-hover-border-color: var(--bs-primary-accent);
    --bs-btn-hover-color: #fff;
    --bs-btn-active-bg: var(--bs-primary-accent);
    --bs-btn-active-border-color: var(--bs-primary-accent);
    --bs-btn-active-color: #fff;
    --bs-btn-disabled-color: var(--bs-primary-accent);
    --bs-btn-disabled-border-color: var(--bs-primary-accent);
    box-shadow: inset 0 0 0 2px var(--bs-primary-accent);
}
.btn-no-border-x {
    box-shadow: inset 0 2px 0 0 var(--bs-primary-accent), inset 0 -2px 0 0 var(--bs-primary-accent) !important;
}
button.btn.btn-sm.btn-outline-light {
    box-shadow: none !important;
}
button.btn.btn-sm.btn-outline-light:hover {
    background-color: var(--bs-primary-accent) !important;
    color: #ffffff !important;
}
button.btn.btn-sm.btn-outline-light:hover .icon {
    fill: #ffffff !important;
}

.accordion-header .accordion-button {
    color: var(--bs-primary);
}
.accordion-header .accordion-button:after {
    filter: grayscale(1) brightness(0);
}
.accordion-button:not(.collapsed) > p {
    color: var(--bs-primary-accent);
}

/* Tabs */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-bottom-color: var(--bs-primary-accent) !important;
    color: var(--bs-primary-accent) !important;
}
.nav-tabs .nav-link:hover {
    color: var(--bs-primary-accent) !important;
    border-bottom-color: rgba(0, 0, 0, 0);
}
.nav-tabs .nav-link.active .icon {
    fill: var(--bs-primary-accent) !important;
}

/* Check */
.form-check [type=checkbox]:checked+label::after {
    border-color: var(--bs-primary-accent);
    background-color: var(--bs-primary-accent);
    z-index: 0;
}

/* Box-shadow per outline-primary */
.btn-outline-primary.disabled,
.btn-outline-primary:hover,
.btn-outline-primary:active {
    box-shadow: inset 0 0 0 2px var(--bs-primary-accent);
}

.btn-outline-light{
    background-color: var(--bs-primary-darker) !important;
}

.avatar-op{
    background-color: var(--bs-success-light) !important;

}

.icon-primary {
    fill: var(--bs-primary) !important;
}

.prenotazione-chip[data-v-8889fea0] {
    border-left: 3px solid var(--bs-primary) !important;
}

.cal-badge[data-v-64759aac] {
    background: var(--bs-primary) !important;
}


/* Colore icona calendario (Chrome/Edge) */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: saturate(0%) hue-rotate(200deg);
  cursor: pointer;
}

/* Bordo focus */
input[type="date"]:focus {
  border-color: var(--bs-primary) !important;
  box-shadow: 0 0 0 0.25rem rgba(R, G, B, 0.25) !important;
}

/* Footer e Header */
.it-footer-main {
    background-color: var(--bs-primary-transparent) !important;
}

.it-header-slim-wrapper {
    background: var(--bs-primary-dark);
}

.pagination .page-item .page-link:hover {
    color: var(--bs-primary) !important;
}

::selection {
    background: var(--bs-primary-light);
}

/* Alerts */
.alert-danger {
    background-position: 10px 50%;
    border-left: 8px solid hsl(350, 60%, 50%);
    color: hsl(350, 60%, 50%);
}

.alert-warning {
    border-left: 8px solid var(--bs-warning) !important;
    background-image: none !important;
}

/* Backgrounds */
.bg-warning {
    --bs-bg-opacity: 1;
    background-color: var(--bs-warning) !important;
    color: white !important;
}
.bg-primary {
    background-color: var(--bs-primary) !important;
}

.avatar-coord {
    background: var(--bs-warning) !important;
}

.login-bg {
    background: linear-gradient(135deg, #0d7dee 0%, #a4ffbaa6 100%) !important;
}

.badge-ruolo {
    background-color: var(--bs-success-light) !important;
}

/* Icons */
.icon-warning {
    fill: var(--bs-warning) !important;
}

/* Forms */
.form-select:disabled {
    color: hsl(210, 17%, 44%) !important;
}

.form-select:hover {
    cursor: pointer;
}

/* Logo */
.logo {
    max-width: 200px;
}

.filter-logo {
    filter: grayscale(1) contrast(10) invert(1);
}

/* Bottoni - Hover states */
.btn-outline-primary:hover {
    background-color: var(--bs-primary-accent);
    color: white !important;
}

.btn-outline-secondary:hover {
    background-color: var(--bs-secondary);
    color: white !important;
}

.btn-outline-danger:hover {
    background-color: var(--bs-danger);
    color: white !important;
}

.btn-outline-light:hover {
    background-color: var(--bs-light) !important;
    color: var(--bs-primary) !important;
}

.btn-outline-success:hover {
    background-color: var(--bs-success) !important;
}

.btn-primary:hover {
    background-color: var(--bs-success-light);
}

.simplebtn:hover {
    background-color: var(--bs-primary-accent) !important;
}

.btn-success:hover {
    background-color: var(--bs-success-light) !important;
}

.btn-outline-warning {
    --bs-btn-color: var(--bs-warning);
    --bs-btn-border-color: var(--bs-warning);
    --bs-btn-hover-color: var(--bs-warning);
    --bs-btn-hover-border-color: var(--bs-warning);
    --bs-btn-active-color: var(--bs-warning);
    --bs-btn-active-border-color: var(--bs-warning);
    --bs-btn-disabled-color: var(--bs-warning);
    --bs-btn-disabled-border-color: var(--bs-warning);
    box-shadow: inset 0 0 0 2px var(--bs-warning) !important;
}

.btn-outline-warning:hover {
    background-color: var(--bs-warning);
    color: white !important;
}

.btn-light:hover {
    background: var(--bs-success-light);
}

/* Icons in buttons */
.btn-light:hover .icon,
.btn-outline-success:hover .icon,
.btn-outline-primary:hover,
.btn-outline-secondary:hover .icon,
.btn-outline-danger:hover .icon,
.btn-primary .icon,
.btn-outline-warning:hover .icon {
    fill: white !important;
}

.btn-outline-light:hover .icon {
    fill: var(--bs-primary) !important;
}

/* Font */
body {
    font-family: 'Libre Franklin', sans-serif;
    padding-right: 0px !important;
}

/* Links */
a {
    color: var(--bs-primary);
}

a:hover {
    color: var(--bs-primary-hover);
}

.hover-link:hover {
    filter: none !important;
    cursor: pointer;
    font-weight: 600;
}

.btn-sidebar{
    border: 2px solid #ffffff59 !important;
}
.btn-sidebar .icon{
    fill: #ffffff59 !important;
}

/* Accordion */
.accordion-button:hover {
    text-decoration: none !important;
}

.no-decoration {
    text-decoration: none !important;
}

.border-right-muted {
    border-right-color: hsl(210, 4%, 78%) !important;
}

/* Cards */
.card:after {
    margin-top: 0px !important;
}

.shadow-sm {
    box-shadow: none !important;
}

/* Utilities */
.fw-600 {
    font-weight: 600;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-flex-end {
    align-items: flex-end;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

/* Offcanvas fix */
body:has(#mobileSidebar.show) {
    padding-right: 0 !important;
}

.chevron-toggle {
  transition: transform 0.3s ease-in-out;
}

.chevron-flipped {
  transform: scaleX(-1) !important;
}